#form_1 {
    background-color: white;
    margin-top: 2%;
    padding-top: 2%;
    width: 25%;
    margin-left: 25%;
}

#form_2 {
    background-color: white;
    margin-left: 1%;
    margin-top: 2%;
    padding-top: 2%;
    width: 25%;
}

.photo {
    border-radius: 50%;
}

.vert_line {
    border-right: 1px groove grey;
    height: 20%;
    margin-right: 55%;
    margin-top: -20%;
}

.circle {
    border-radius: 50%;
    margin-left: 27%;
    margin-bottom: 20%;
}

.name {
    white-space: pre-wrap;
    margin-bottom: 5px;
    font-weight: 600;
    margin-left: -15%;
}

.lorem {
    margin-left: -15%;
    margin-bottom: 15%;
}

.vert_line_1 {
    height: 14%;
    border-right: 1px groove grey;
    margin-right: 55%;
    margin-top: -20%;
}

.vert_line_s {
    border-right: 1px groove grey;
    height: 10%;
    margin-right: 55%;
    margin-top: -20%;
}

#row_2 {
    margin-bottom: 2%;
}
